/*chania*/
body {
    font-family: Trattatello;
  }
  
.jumbotron {
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    
}

.jumbotron::before{
    content: "";
    background-image: url('https://wallpapers.com/images/hd/flower-bouquet-pictures-dj32jb4ob6qhz0sj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.4;
}

.jumbotron h1 {
    position: relative;
    font-style: italic;
    font-weight: bolder;
    font-size: 70px;
    margin-bottom: 1rem;
    color: #D22E5E;
  font-family: "Gilda Display", serif;
}

.jumbotron p {
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #8d003d;
  }

.btn {
  position: relative;
    background-color: #D22E5E;
    border-color: #FFFFFF;
  }

/* krisziah */

  /* Navbar */
  .navbar {
    background-color: #F8DCE8;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Gilda Display", serif;
    font-style: oblique;
    color: #D22E5E;
    margin-left: 30px;
  }

  .navbar-nav .nav-link {
    margin-right: 1rem;
    color: #D22E5E;
  }

  
  /* Flower Cards */
  
  .flower-card {
    background-color: #FCEFF7;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  .flower-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .container1 .flower-card h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  .container h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #D22E5E;
  }

  .flower-card p {
    margin-bottom: 1.5rem;
    color: #D22E5E;
  }

  .flower-card .btn-primary {
    margin-top: 1rem;
    background-color: #D22E5E;
    border-color: #D22E5E;
  }
